<!DOCTYPE html>
{% extends "App/base.html" %}

{% block titulo %}
<title>Banned Items</title>
{% endblock titulo %}

{% block contenido %}
<div class="jumbotron">
  {% if itemsban %}
  <h1 class="display-4">Banned Items</h1>
  <div id="accordion2">
    {% for item in itemsban %}
    <div class="card">
      <div class="card-header" id="heading{{ item.pk }}">
        <h4 class="mb-0">     
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ item.pk }}" aria-expanded="true" aria-controls="collapse{{ item.pk }}">
            {{ item.nombre }}
          </button>
        </h4>
      </div>
      <div id="collapse{{ item.pk }}" class="collapse hide" aria-labelledby="heading{{ item.pk }}" data-parent="#accordion2">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">Costo: {{ item.costo }}</li>
            <li class="list-group-item">Ganancia: {{ item.ganancia }}</li>
            <li class="list-group-item">Demanda: {{ item.demanda }}</li>
            <li class="list-group-item">Tiempo en el mercado: {{ item.tiempo_mercado }}</li>
            <li class="list-group-item">Valor de mercado: {{ item.valor_mercado }}</li>
            <li class="list-group-item">Tiempo fuera del mercado: {{ item.tiempo_fuera }}</li>
            <li class="list-group-item">Valor individual: {{ item.valor_individual }}</li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <h1 class="display-4">No hay contenido por el momento :(</h1>
  {% endif %}
</div>
{% endblock contenido %}